.content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.nav-link {
  color: white;
}

.nav-link:focus,
.nav-link:hover,
.nav-link:active {
  color: crimson;
}

#subdomainInput {
  max-width: 22rem;
  margin: 0 auto;
}

.popover-header {
  background-color: yellow;
}
